<h1>Listing messages</h1>

<table>
  <tr>
    <th>Message ID</th>
    <th>Group ID</th>
    <th>Group Name</th>
    <th>Message</th>
    <th>From</th>
    <th>Recipient</th>
    <th>API Message ID</th>
    <th>Origin</th>
    <th>User ID</th>
    <th>Status</th>
    <th>API Timestamp</th>
    <th>Network</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @messages.each do |message| %>
  <tr>
    <td><%= message.id %></td>
    <td><%= message.group_id %></td>
    <% if false %>
    <td><%= message.group_id.nil? ? Group.find(message.group_id).name : message.group_id %></td>
    <% end %>
    <td><%= message.message %></td>
    <td><%= message.from %></td>
    <td><%= message.recipient %></td>
    <td><%= message.api_message_id %></td>
    <td><%= message.origin %></td>
    <td><%= message.user_id %></td>
    <td><%= message.status %></td> 
    <td><%= message.api_timestamp %></td>
    <td><%= message.network %></td> 
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
