<h1>Listing memberships</h1>
  <% flash.each do |key, value| %>
  <div class="alert-message success <%= key %>">
    <%= value %>
  </div>
  <% end %>

<table class="zebra-striped">
  <tr>
    <th>Group ID</th>
    <th>Group Name</th>
    <th>User ID</th>
    <th>User Name</th>
    <th>Active?</th>
    <th></th>
    <th></th>
  </tr>

<% @memberships.each do |membership| %>
  <tr>
    <td><%= membership.group_id %></td>
    <td><%= membership.group_name %></td>
    <td><%= membership.user_id %></td>
    <td><%= membership.user_name %></td>
    <td><%= membership.active %> | <%= link_to activate_link_text(membership), toggle_activate_admin_membership_path(membership)%></td>
    <td><%= link_to 'Edit', edit_membership_path(membership) %></td>
    <td><%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New membershipship', new_membership_path %>