<h1>Assignments</h1>
<table>
  <tr>
    <th>Ass ID</th>
    <th>User ID</th>
    <th>User Name</th>
    <th>Number ID</th>
    <th>Actual Number</th>
    <th>Group ID</th>    
    <th>Group Name</th>
    <th></th>
  </tr>

  <% @assignments.each do |ass| %>
  <tr>
    <td><%= ass.id %></td>
    <td><%= ass.user_id %></td>
    <td><%= ass.user_name %></td>
    <td><%= ass.number_id %></td>
    <td><%= ass.inbound_num %></td>
    <td><%= ass.group_id %></td>
    <td><%= ass.group_name %></td>
    <td><%= link_to 'Destroy', ass, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>


