<%= form_for(@number) do |f| %>
  <% if @number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@number.errors.count, "error") %> prohibited this number from being saved:</h2>

      <ul>
      <% @number.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :inbound_num %><br />
    <%= f.text_field :inbound_num %>
  </div>
  <div class="field">
    <%= f.label :assigned %><br />
    <%= f.check_box :assigned %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
