<h1>Listing numbers</h1>

<table>
  <tr>
    <th>Inbound num</th>
    <th>Assigned</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @numbers.each do |number| %>
  <tr>
    <td><%= number.inbound_num %></td>
    <td><%= number.assigned %></td>
    <td><%= link_to 'Show', number %></td>
    <td><%= link_to 'Edit', edit_number_path(number) %></td>
    <td><%= link_to 'Destroy', number, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Number', new_number_path %>
