<%= form_for(@group) do |f| %>
<fieldset>
  <legend>Create a new group</legend>
  <%= render 'shared/group_error_messages', :object => f.object %>  
  <div class="clearfix">
    <%= f.label :group_name %>
    <div class="input">
    <%= f.text_field :group_name %>
  </div>
  </div>
  <div class="actions">
    <%= f.submit :value => 'Create your group', :class => 'btn success'%> <!-- test for if they already have a group...-->
  </div>
<% end %>
