  <div class="clearfix well member" style="padding: 14px 19px;">
    <div class="inline-inputs">
      Name:
      <%= user_form.text_field :name, :class => "small" %>
      Number: 
      <%= user_form.text_field :number %>

      <input type="button" value="Remove" class="remove-member btn danger">
    </div>

    <div class="clearfix" style="display:none">
      <%= user_form.password_field :password, :value => newpass(6) %><!-- todo: fix this horrible hack -->
      <%= user_form.text_field :registered, :value => false %> <!-- todo: fix this horrible hack -->
      <%= user_form.text_field :id %> <!-- todo: fix this horrible hack -->
    </div>

  </div>