<h1>Listing groups</h1>
<%= link_to 'New Group', new_group_path, :class => 'btn small success' %>
<table>
  <tr>    
    <th>Group ID</th>
    <th>Group name</th>
    <th>Creator ID</th>
    <th>Creator Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @groups.each do |group| %>
  <tr>
    <td><%= group.id %></td>
    <td><%= group.name %></td>
    <td><%= group.creator_id %></td>
    <td><%= group.creator_name%></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>
</table>

