<script>
(function ($) {
  $(document).ready(function () {
    var members = $('.users');

    var memberDiv = $('.users').html();

    var memberIndex = 1;

    $('#add-member').click(function () {
      var r1 = new RegExp("\\[0\\]", "g");
      var r2 = new RegExp("_0_", "g");

      members.append(memberDiv.replace(r1, '[' + memberIndex.toString() + ']').replace(r2, '_' + memberIndex.toString() + '_').replace('member', 'member ' + memberIndex.toString()));

      plusIndex = memberIndex + 1


      memberIndex += 1;

      ///TODO get the highlight to work
      //$('.member ' + plusIndex.toString()).effect("highlight", {}, 1000);


    });

    $('.remove-member').live('click', function (event) {
      $(event.target).closest('.member').remove();
    });
  });
  })(jQuery);

  </script>

  <div class="span12 columns">
    <!-- Modal -->
    <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1;width:530px;margin-top:55px;">
      <%= form_for(@group) do |form| %>
      <div class="modal-header" style="padding:15px 15px 0px 18px">
        <h1>Create a new group</h1>
      </div>

      <% if @hide_form == true %>
      Sorry!
      <% else %>
      <%= render 'shared/group_error_messages', :object => form.object %> 
      <div class="modal-header" style="padding:15px">
        <h3>1) Name your group: <%= form.text_field :name , :style => 'width:300px;'%></h3>
      </div>
      <div class="modal-body">
        
        <div class="clearfix" style="padding-bottom:13px">
<h3>2) Add some people to your group: <input type="button" value="Add someone" id="add-member" class="btn success" style="font-size:17px;width:160px;height:36px;margin-left:13px"></h3>
        </div>
        <div class="users">
          <%= form.fields_for :users, :url => {:action => 'new', :controller => 'users', :registered => false}, do |user_form| %>
          <%= render 'user', :user_form => user_form, :collection => @group.users %>

          <% end %>
        </div>
      </div>
      <div class="modal-footer" style="margin-bottom:-17px">
        <%= form.submit :id => :go, :value => 'Start the group', :name => :go, :class => 'btn large primary', :style => 'font-size:20px'%>
      </div>
    </div>
            
      <% end %>
          <% end %>
    
  </div>




