<div class="row">
  <div class="span2 columns">
    <h4>Your groups</h4>
    <div class="list-groups">
      <ul class="pills" style="margin:0;list-style-type:none;padding:0;">

        <% @user_groups.each do |g| %>
        <% if g.id == @group.id %>
        <li class="active" style="clear:both;"><%= link_to g.name, g, :style => "display:block;width:auto;" %></li>
        <% else %>
        <li style="clear:both;"><%= link_to g.name, g,  :style => "display:block;width:auto;"  %></li>
        <% end %>
        <% end %>
      </ul>
      
<div class="clearfix" style="text-align:center">      <% if @hide_form == true %>
      <%= link_to 'New Group', group_path, :class => 'btn success disabled' %>
      <span class="help-block" style="margin-top:6px">
        Sorry, you can only join or start <%= @max_nums %> groups.
      </span>
      <% else %>
      <%= link_to 'New Group', new_group_path, :class => 'btn success' %>
      <% end %></div>
    </div>

  </div>
  <div class="span11 columns" style="background:">
    <% flash.each do |key, value| %>
    <div class="alert-message block-message success <%= key %>">
      <%= value %>
    </div>
    <% end %>
    <!-- Modal -->
    <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; width:100%">
      <div class="modal-header">
        <h3><%= @group.name %>: Latest Messages</h3>
      </div>
      <div class="modal-body">
        <%= form_for(@message) do |f| %>
        <% if @message.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h2>
          <ul>
            <% @message.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
        <% end %>   

        <div class="field" style="padding-right:10px">
          <%= f.text_area :message, :class => "xxlarge", :rows => 5, :style => "resize:none; width:100%;" %>
          <%= f.hidden_field :group_id, :value => @group.id %>
        </div>

        <span class="help-block" style="margin-top:6px">
          You can send messages over the web.
          <span style="float:right">
            <%= f.submit :value => "Send message", :class => "btn primary" %>
          </span>
        </span>
        <% end %>
      </div>
      <div class="modal-body">
        <% if @group_messages.blank? %>
        <div style="text-align:center">
          <h5>Sorry, no messages have been sent.</h5>
          Group ID: <%= @group.id %> <br/>
          Group User IDs: <%= @group_user_ids %> <br/>
          User Number IDs: <%= @user_number_ids %> <br/>
          Assignments: <%= @all_assignments %> <br/>
          Messages:<%= @group_messages %>     <br/>
          Envelopes:<%= @group_envelopes %>   <br/>
          User numbers:<%= @user_numbers %>   <br/>
          Group users:<%= @group_users %>     <br/>
        </div>
        <% else %>
         <% @group_envelopes.each do |env|  %>        
        <div class="alert-message block-message info">
          <p><strong> <%= User.find(env.user_id).name %>: </strong><%= Message.find(env.message_id).message %></p>
          <p style="color:#C7C3C4;"><i><%= Message.find(env.message_id).created_at %></i></p>
        </div>

        <% end %>
      
        <% end %>


        <div class="more-messages clearfix" style="margin:10px auto;text-align:center;">
          <input type="button" class="btn large disabled" value="Load more messages" style="align:center"></input>
          <!-- todo make this work -->
        </div>

      </div>
    </div>


  </div>
  <div class="span3 columns">
    <h4>Group Members</h4>
    <ul class="unstyled">
      <% @group_users.each do |user| %> <!-- todo why are numbers saving without a zero in front? because of integer/string?-->
      <li><%= user.name %> <%= user.number %></li>
      <% end %>
      <li><b>Their inbound nums:</b></li>
      <% @user_numbers.each do |number| %>
      <li><%= number.inbound_num %></li> <!-- todo: make this line up and hash the inbound num and name together-->
      <% end %>
    </ul>
    <% if current_user.id == @group.creator_id %>
    <%= link_to 'Edit group', edit_group_path(@group), :class => 'btn default' %>

    <% end %>
    
  </div>
</div>











