<div class="row">
  <div class="span2 columns">
    <h4>Your groups</h4>
    <div class="list-groups" style="text-align:center">
      <ul class="pills" style="margin:0;list-style-type:none;padding:0;">

        <% @user_groups.each do |g| %>
        <% if g.id == @group.id %>
        <li class="active" style="clear:both;"><%= link_to g.name, g, :style => "display:block;width:auto;" %></li>
        <% else %>
        <li style="clear:both;"><%= link_to g.name, g,  :style => "display:block;width:auto;"  %></li>
        <% end %>
        <% end %>
      </ul>

      <div class="clearfix" style="text-align:center">      <% if @hide_form == true %>
        <%= link_to 'New Group', group_path, :class => 'btn success disabled' %>
        <span class="help-block" style="margin-top:6px">
          Sorry, you can only join or start <%= @max_nums %> groups.
        </span>
        <% else %>
        <%= link_to 'New Group', new_group_path, :class => 'btn success' %>
        <% end %></div>
      </div>

    </div>
    <div class="span11 columns" style="background:">
      <% flash.each do |key, value| %>
      <div class="alert-message block-message success <%= key %>">
        <%= value %>
      </div>
      <% end %>
      <!-- Modal -->
      <div class="modal" style="position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1; width:100%">
        <div class="modal-header">
          <h3><%= @group.name %>: Latest Messages</h3>
        </div>
        <div class="modal-body">
          <%= form_for(@message) do |f| %>
          <% if @message.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being sent:</h2>
            <ul>
              <% @message.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
          <% end %>   

          <div class="field" style="padding-right:10px">
            <%= f.text_area :message, :class => "xxlarge", :rows => 5, :style => "resize:none; width:100%;" %>
            <%= f.hidden_field :group_id, :value => @group.id %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>

          <span class="help-block" style="margin-top:6px">
            You can send messages over the web.
            <span style="float:right">
              <%= f.submit :value => "Send message", :class => "btn primary" %>
            </span>
          </span>
          <% end %>
        </div>
        <div class="modal-body">
          <% if @group_messages.empty? %>
          No messages yet.
          <% else %>
          <% @group_messages.each do |mess| %>
          <div class="clearfix">
          <% timediff = Time.now - mess.created_at %>
          <strong><%= User.find(mess.user_id).name %>:</strong> <%= mess.message %>
          <span style="float:right"><i><%= time_ago_in_words(Time.now - timediff,include_seconds = false) %> ago </i></span>
          </div>
          <% end %>
          <% end %>




          <div class="more-messages clearfix" style="margin:10px auto;text-align:center;">
            <input type="button" class="btn large disabled" value="Load more messages" style="align:center"></input>
            <!-- todo make this work -->
          </div>

        </div>
      </div>


    </div>
    <div class="span3 columns">
      <h4>Group Members</h4>
      <ul class="unstyled">
        <% @group_users.each do |user| %>
        <li style="font-size:15px;padding-bottom:5px;"><%= user.name %></li>
        <% end %>
      </ul>
      <% if current_user.id == @group.creator_id %>
      <%= link_to 'Edit group', edit_group_path(@group), :class => 'btn default' %>

      <% end %>

    </div>
  </div>











