<div class="user">
  <% user_form.fields_for :users do |user_form| %>
    <div class="clearfix">
    <%= user_form.label :name %>
    <div class="input">
      <%= user_form.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= user_form.label :number %>  
    <div class="input">
      <%= user_form.text_field :number %>
    </div>
  </div>
  <% end %>
  <%= link_to_function "remove", "$(this).up('.user').remove()" %>
</div>



