<%= form_for(@user) do |f| %>
<fieldset>
  <legend>Sign Up Today</legend>
  <%= render 'shared/error_messages', :object => f.object %>

  <div class="clearfix">
    <%= f.label :name %>
    <div class="input">
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :number %>  
    <div class="input">
      <%= f.text_field :number %>
    </div>
  </div>
  <div class="clearfix">
    <%= f.label :password %>
    <div class="input">
      <%= f.password_field :password %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit :id => :go, :value => 'Sign Up', :name => :go, :class => 'btn primary' %>
  </div>
</fieldset>
<% end %>
