
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Number:</b>
  <%= @user.number %>
</p>

<p>
  <b>Number of groups:</b>
  <%= @user.memberships.count %>
</p>

<p>
  <b>Number of groups you belong to:</b>
  <%= @user.memberships.count %> 
</p>

<p>
  <b>Names of all groups:</b>
  <% @groups.each do |g| %>
  <%= g.group_name %>
  <% end %>
</p>

<p>  
  <b>Names of all groups you belong to:</b>  
  <% @user_groups.each do |g| %>
  <%= g.group_name %>
  <% end %>
</p>

<p>
  <b>Names of all members:</b>
  <% @users.each do |u| %>
  <%= u.name %>
  <% end %>
</p>



