
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Number:</b>
  <%= @user.number %>
</p>

<p>
  <b>Number of groups:</b>
  <%= @user.memberships.count %>
</p>

<p>
  <b>Number of groups you belong to:</b>
  <%= @user.memberships.count %> 
</p>

<!--todo work out how to iterate through the list of someone's groups-->


<p>
  <b>Names of all members:</b>
  <% @users.each do |u| %>
  <%= u.name %>
  <% end %>
</p>



